
  <h1 id="head_text"><%= @band.name %></h1>

  <div class="row" style="margin-top:30px;">

    <div class="col-sm-3">
      <form action="/bands/form" method="get">
          <button type="submit" class="btn btn-warning" >Add a Band</button>
      </form>
    </div>

    <div class="col-sm-3">
      <form action="/bands" method="get">
          <button type="submit" class="btn btn-info">Find a Band</button>
      </form>
    </div>

    <div class="col-sm-3">
      <form action="/venues/form" method="get">
          <button type="submit" class="btn btn-warning">Add a Venue</button>
      </form>
    </div>

    <div class="col-sm-3">
      <form action="/venues" method="get">
          <button type="submit" class="btn btn-info">Venue List</button>
      </form>
    </div>

  </div>


<div class="row" style="margin-top:50px;">

  <div class="col-sm-12">
    <h3 style="margin-bottom:30px; color:white;">Update Band</h3>
    <div class="form-group" style="margin-bottom:10px;">
      <form action="/bands" method="post">
        <input name="_method" type="hidden" value="delete">
        <input name="id" type="hidden" value="<%= @band.id%>">
        <button type="submit" class="btn btn-danger">Delete Band</button>
      </form>
    </div>


    <form action="/band/<%= @band.id %>" method="post">
      <input name="_method" type="hidden" value="patch">
      <div class="form-group">
        <label for="name">New Band Name</label>
        <input name="name" type="text">
      <button type="submit" class="btn btn-primary">Change Name</button>
      </div>
    </form>
  </div>

</div>


<div class="row" style="margin-top:40px;">

  <div class="col-sm-6">
    <h3 style="margin-bottom:30px; color:white;">Venues</h3>
    <form action="/band/<%= @band.id %>/venue" method="post">
      <div class="form-group" style="color:white; font-size:20px;">
        <% @all_venues.-(@venues_of_band).each do |venue| %>
          <input type="radio" name="venue" value="<%= venue.id %>"> <%= venue.name %> <br>
        <% end %>
      </div>
      <button type="submit" class="btn btn-primary">Add Venue to <%= @band.name %> </button>
    </form>
  </div>


  <div class="col-sm-6">
    <h3 style="margin-bottom:30px; color:white;"><%= @band.name %> Has Played at</h3>
    <ul class="all_list">
      <% @venues_of_band.each do |venue| %>
        <li><%= venue.name %></li>
      <% end %>
  </ul>
  </div>

</div>
