<div class="row">

  <div class="col-sm-6">
    <h1><%= @band.name %></h1>
  </div>

  <div class="col-sm-6" style="margin-top:20px;">
    <form action="/" method="get">
      <button type="submit" class="btn btn-info">Home</button>
    </form>
  </div>

</div>




<div class="row">

  <div class="col-sm-12">
    <form action="/bands" method="post">
      <input name="_method" type="hidden" value="delete">
      <input name="id" type="hidden" value="<%= @band.id%>">
      <button type="submit" class="btn btn-danger">Delete Band</button>
    </form>
  </div>

</div>


<br><br>

<div class="row">

  <div class="col-sm-6">
    <form action="/band/<%= @band.id %>" method="post">
      <input name="_method" type="hidden" value="patch">
      <h3>Update Band Name</h3>
      <input name="name" type="text">
      <button type="submit" class="btn btn-primary">Change Name</button>
    </form>
  </div>

</div>


<br><br>


<div class="row">

  <div class="col-sm-6">
    <h3>Venues</h3>
    <form action="/band/<%= @band.id %>/venue" method="post">
      <div class="form-group">
        <% @all_venues.-(@venues_of_band).each do |venue| %>
          <input type="checkbox" name="venue" value="<%= venue.id %>"> <%= venue.name %> <br>
        <% end %>
      </div>
      <button type="submit" class="btn btn-primary">Add Venue to <%= @band.name %> </button>
    </form>

  </div>


  <div class="col-sm-6">
    <h3><%= @band.name %> Has Played at</h3>
    <% @venues_of_band.each do |venue| %>
      <%= venue.name %>
    <% end %>
  </div>


</div>
