<div class="row">

  <div class="col-sm-6">
    <h1><%= @band.name %> <%= @band.id %></h1>
  </div>

  <div class="col-sm-6" style="margin-top:20px;">
    <form action="/" method="get">
      <button type="submit" class="btn btn-info">Home</button>
    </form>
  </div>

</div>




<div class="row">

  <div class="col-sm-12">
    <form action="/bands" method="post">
      <input name="_method" type="hidden" value="delete">
      <input name="id" type="hidden" value="<%= @band.id%>">
      <button type="submit" class="btn btn-danger">Delete Band</button>
    </form>
  </div>

</div>


<br><br>

<div class="row">

  <div class="col-sm-6">
    <form action="/band/<%= @band.id %>" method="post">
      <input name="_method" type="hidden" value="patch">
      <h3>Update Band Name</h3>
      <input name="name" type="text">
      <button type="submit" class="btn btn-primary">Change Name</button>
    </form>
  </div>

</div>


<br><br>


<div class="row">

  <div class="col-sm-6">
    <h5>Select Venues Where <%= @band.name %> Has Played</h5>
    <form action="/band/<%= @band.id %>/venue" method="post">
      <% @all_venues.each do |venue| %>
        <input type="checkbox" name="venue" value="<%= venue.id %>"> <%= venue.name %> <br>
      <% end %>
      <button type="submit">Add Venue to Band</button>
    </form>

  </div>


  <div class="col-sm-6">
  </div>


</div>
